<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Smart Migrate">
    <meta name="keywords" content="Smart migrate, migration to Australia, PR Pathway">
    <meta name="author" content="Adrian Soe Myint">
    <!--accessibility setting-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/admin_style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/css/images/logo.png') }}">
    <title>Smart Track | PR Pathway</title>
</head>


<body>
    <header>
        <nav>
            <!--Navigation menu in header as a list to apply more styles-->
            <div class="navi_menu">
               <div class="navi_menu">
                <a class="active" href="{{ url_for('admin.adminlanding') }}" class="view-courses-btn">Dashboard</a>
                <a class="active" href="{{ url_for('admin.user_management') }}" class="view-courses-btn">User Management</a>
                <a class="active" href="{{ url_for('admin.manage_connections') }}" class="view-courses-btn">Manage Connections</a>
                <a class="active" href="{{ url_for('admin.viewinquiries') }}" class="view-courses-btn">View Inquiries</a>
                <a class="active" href="{{ url_for('admin.occupations') }}" class="view-courses-btn">Occupation Management</a>
            </div>

                <!-- <a href="product.html"><strong>Products</strong></a>
                <a href="enquire.html"><strong>Enquire</strong></a>
                <a href="about.html"><strong>About</strong></a>
                <a href="/"><strong>Enhancements</strong></a> !-->
            </div>
        </nav>
    </header>
<h1>Welcome Admin</h1>
</body>



</html>