<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--accessibility setting-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Smart Track | PR Pathway</title>
</head>


<body>
    <header>
        <nav>
            <!--Navigation menu in header as a list to apply more styles-->
            <div class="navi_menu">
                <a class="active" href="/"><strong>Home</strong></a>
                <!-- <a href="product.html"><strong>Products</strong></a>
                <a href="enquire.html"><strong>Enquire</strong></a>
                <a href="about.html"><strong>About</strong></a>
                <a href="/"><strong>Enhancements</strong></a> !-->
            </div>
        </nav>
    </header>
<h1>Welcome Adminstrator</h1>
</body>



</html>