<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Easi Resi">
    <meta name="keywords" content="Easi Resi, migration to Australia, PR Pathway">
    <meta name="author" content="Adrian Soe Myint">
    <!--accessibility setting-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/css/images/logo.png') }}">
    <title>Smart Track | PR Pathway</title>
</head>

<body>
    <header>
        <nav>
            <div class="navi_menu">
                <a class="active" href="/"><strong>Home</strong></a>
            </div>
        </nav>
    </header>
    
    <h1>Welcome Agent</h1>
    
    <!-- Display the total number of migrants managed by the agent -->
    <p>You are currently managing {{ total_migrants }} migrant(s).</p>

</body>
</html>
