<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <title>Form</title>
</head>
<body>
    <script src="../static/css/javascript.js"></script>
    <div class="container">
        <form method="post" action="submit_migrant_form" id="migrant_form">

    <!--Page 1-->   
    <div class="tab">
        <div class="header">Visa Subclass</div>
        <label for="Visa">Which visa Subclass are you applying for?</label>
        <div class="option">
            <label>
                <input type="radio" name="visa-subclass" value="189">
                Skilled Independent visa Subclass 189
            </label>
        </div>

        <div class="option">
            <label>
                <input type="radio" name="visa-subclass" value="190">
                Skilled Nominated visa Subclass 190
            </label>
        </div>
        <div class="option">
            <label>
                <input type="radio" name="visa-subclass" value="491">
                Skilled Work Regional (Provisional) visa Subclass 491
            </label>
        </div>
    </div>
    <!--Page 2-->
            <!-- Page 2 - MLTSSL, STSOL, or ROL selection based on visa subclass -->
            <div class="tab">
                <h2>Occupation Preference</h2>
                
                <!-- For subclass 189 -->
                <div id="question-189" class="occupation-section">
                    <label>Select your occupation on the Medium and Long-term Strategic Skills List (MLTSSL)</label>
                    <div>
                        <input type="radio" name="occupation-list-189" value="MLTSSL" checked>
                        Medium and Long-term Strategic Skills List (MLTSSL)
                    </div>
                </div>
                
                <!-- For subclass 190 -->
                <div id="question-190" class="occupation-section">
                    <label>Is your occupation on Medium and Long-term Strategic Skills List or Short-term Skilled Occupation List?</label>
                    <div>
                        <input type="radio" name="occupation-list-190" value="MLTSSL">
                        Medium and Long-term Strategic Skills List (MLTSSL)
                    </div>
                    <div>
                        <input type="radio" name="occupation-list-190" value="STSOL">
                        Short-term Skilled Occupation List (STSOL)
                    </div>
                </div>
            
                <!-- For subclass 491 -->
                <div id="question-491" class="occupation-section">
                    <label>Is your occupation on Medium and Long-term Strategic Skills List, Short-term Skilled Occupation List, or Regional Occupation List?</label>
                    <div>
                        <input type="radio" name="occupation-list-491" value="MLTSSL">
                        Medium and Long-term Strategic Skills List (MLTSSL)
                    </div>
                    <div>
                        <input type="radio" name="occupation-list-491" value="STSOL">
                        Short-term Skilled Occupation List (STSOL)
                    </div>
                    <div>
                        <input type="radio" name="occupation-list-491" value="ROL">
                        Regional Occupation List (ROL)
                    </div>
                </div>
            
                <div id="occupation-dropdown-section">
                    <label for="occupations">Select your occupation:</label>
                    <select id="occupations" name="occupation">
                        <option value="">-- Select Occupation --</option>
                    </select>
                </div>
            </div>
            


    <!--Page 3-->
    <div class="tab">
        <div class="header">User Profile</div>
        <div class="option">
            <label for="first-name">First Name</label>
            <input type="text" id="first-name" name="first-name" pattern="[A-Za-z]+" required>
        </div>
        <div class="option">
            <label for="last-name">Last Name</label>
            <input type="text" id="last-name" name="last-name" pattern="[A-Za-z]+"  required>
        </div>
        <div class="option">   
            <label for="dob">Date of Birth</label>
            <input type="date" id="dob" name="dob" required>
        </div>
        <div class="option">
            <label for="nationality">Which country are you a nationality of?</label>
            <select id="nationality" name="nationality" required>
                <option value="">-- Select Nationality --</option>
                <!-- Nationality options will be populated dynamically -->
            </select>
        </div>
        <div class="option">
            <label for="current-country">Current country you are residing in</label>
            <select id="current-country" name="current-country" required>
                <option value="">-- Select Country --</option>
                <!-- Options will be populated dynamically -->
            </select>
        </div>
    </div>

    <!--Page 4-->
        <!-- Question 4.1: Which English Test did you take? -->
    <div class="tab">
        <div class="header">English Language</div>
        <div class="option">   
            <label for="english-test">Which English Test did you take?</label>
            <select id="english-test" name="english-test">
                <option value="">-- Select English Test --</option>
                <option value="IELTS">IELTS</option>
                <option value="PTE">PTE</option>
                <option value="CAE">CAE</option>
                <option value="OET">OET</option>
                <option value="TOEFL">TOEFL</option>
            </select>
        </div>
    
<!-- IELTS Score Input -->
<div id="ielts-score" class="score-section">
    <label for="ielts-band">What was your IELTS Band Score?</label>
    <input type="text" id="ielts-band" name="ielts-score" pattern="^[1-9]$" placeholder="Number between 1 to 9">
</div>

<!-- PTE Score Input -->
<div id="pte-score" class="score-section">
    <label for="pte">What was your PTE Score?</label>
    <input type="text" id="pte" name="pte-score" pattern="^(10|[1-8][0-9]|90)$" placeholder="Between 10 to 90">
</div>

<!-- CAE Score Input -->
<div id="cae-score" class="score-section">
    <label for="cae">What was your CAE Score?</label>
    <input type="text" id="cae" name="cae-score" pattern="^(210|20[0-9]|1[5-9][0-9])$" placeholder="Between 180 to 210">
</div>

<!-- OET Score Input -->
<div id="oet-score" class="score-section">
    <label for="oet">What was your OET Score?</label>
    <select id="oet" name="oet-score">
        <option value="">-- Select Grade --</option>
        <option value="A">A</option>
        <option value="B">B</option>
        <option value="C+">C+</option>
        <option value="C">C</option>
        <option value="D">D</option>
        <option value="E">E</option>
    </select>
</div>

<!-- TOEFL Score Input -->
<div id="toefl-score" class="score-section">
    <label for="toefl">What was your TOEFL Score?</label>
    <input type="text" id="toefl" name="toefl-score" pattern="^(120|11[0-9]|10[0-9]|[1-9][0-9]?)$" placeholder="Number between 0 to 120">
</div>
    </div>    
    <!--Page 5-->
    <div class="tab">
        <div class="header">Overseas Work Experience</div>
        <div class="option">
            <label for="work-experience">In the last 10 years, how long have you worked in your nominated skilled occupation or closely related occupation outside Australia?</label>
            <input type="text" id="os-work-experience" name="os-work-experience" pattern="\d+" placeholder="Enter the number of years" required>
        </div>
    </div>
    <!--Page 6-->
    <div class="tab">
        <div class="header">Australian Work Experience</div>
        <div class="option">
            <label for="work-experience">In the last 10 years, how long have you worked in your nominated skilled occupation or closely related occupation in Australia?</label>
            <input type="text" id="au-work-experience" name="au-work-experience" pattern="\d+" placeholder="Enter the number of years" required>
        </div>
    </div>
    <!--Page 7-->
    <div class="tab">
        <div class="header">Educational Qualifications</div>
        <div class="option">
            <label for="highest-qualification">What is your highest qualification?</label>
            <select id="highest-qualification" name="highest-qualification" required>
                <option value="">-- Select your highest qualification --</option>
                <option value="phd">A Doctorate degree (PhD) from an Australian educational institution or a Doctorate from another educational institution that is of a recognised standard</option>
                <option value="bachelor">A Bachelor degree from an Australian educational institution or a Bachelor qualification from another educational institution that is of a recognised standard</option>
                <option value="diploma">A diploma or trade qualification completed in Australia or other award or qualification recognised by the skills assessing authority</option>
                <option value="no-qualification">No Recognised Qualifications</option>
            </select>
        </div>
    </div>
    <!--Page 8-->
    <div class="tab">
        <div class="header">Australian Educational Qualification</div>
            <label>Degree, diploma, advanced diploma or trade qualification from an Australian educational institution which took at least 2 years of full-time study and was taught in English.</label>
        <div class="option">
            <label>
                <input type="radio" name="ausqual" value="yes" onclick="showFollowUp(true)" required> Yes
            </label>
            <label>
                <input type="radio" name="ausqual" value="no" onclick="showFollowUp(false)"> No
            </label>
        </div>
        <div id="followUpSection" class="section hidden">
            <div class="header">Designated regional area study</div>
            <p>Did you live and study in a ‘designated regional area’ of Australia and complete a course which meets the ‘Australian study requirement’ at the time of invitation to apply for the visa?</p>
            <div class="option">
            <label>
                <input type="radio" name="regionalStudy" value="yes"> Yes
            </label>
            <label>
                <input type="radio" name="regionalStudy" value="no"> No
            </label>
            </div>
        </div>
    </div>
    <!--Page 9-->
    <div class="tab">
        <div class="header">Specialist Educational Qualification</div>
            <label>A Masters degree by research or a Doctorate degree from an Australian educational institution that included at least two academic years in a relevant field (Natural and Physical Sciences, Information Technology or Engineering and Related Technologies)?</label>
        <div class="option">                
            <label>
                <input type="radio" name="squal" value="yes" required> Yes
            </label>
            <label>
                <input type="radio" name="squal" value="no"> No
            </label>
        </div>
    </div>
    <!--Page 10-->
    <div class="tab">
        <div class="header">Accredited Community Language</div>
            <label for="language">Do you hold any one of the following?</label>
        <div class="option">    
            <p> 1. Accreditation at the paraprofessional level or above;<br>
                2. Certification at the certified provisional level or above;<br>
                3. A community language credential
            </p>
                <label>
                    <input type="radio" name="acl" value="yes" required> Yes
                </label>
                <label>
                    <input type="radio" name="acl" value="no"> No
                </label>    
        </div>
    </div>
    <!--Page 11-->
    <div class="tab">
        <div class="header">Partner Qualifications</div>
            <label>Do you have a partner (spouse or de facto partner) who meets the following criteria?</label>
        <div class="option">    
            <label>
                <input type="radio" name="partner-qualification" value="option1" required> 
                My partner is aged under 45, and<br>
                My partner has Competent English, and<br>
                My partner is an applicant of the same subclass of visa as me, and<br>
                My partner nominated a suitable skilled occupation and obtained a positive skills assessment (that is not for a Subclass 485 visa)
            </label>
        </div>
        <div class="option">
            <label>
                <input type="radio" name="partner-qualification" value="option2"> 
                 My partner is an Australian permanent resident or an Australian citizen
            </label>
        </div>
        <div class="option"> 
            <label>
                <input type="radio" name="partner-qualification" value="option3"> 
                My partner has Competent English, and<br>
                My partner is an applicant of the same subclass of visa as me, and<br>
                My partner is not an Australian permanent resident or an Australian citizen
            </label>
        </div>
        <div class="option">
            <label>
                <input type="radio" name="partner-qualification" value="option4"> 
                None of the above
            </label>
        </div>
    </div>
    <!--Page 12-->
    <div class="tab">
        <div class="header">Professional Year in Australia</div>
            <label>Did you complete a professional year program in Australia in your nominated skilled occupation for at least 12 months in the 48 months immediately before the time of invitation to apply for the visa?</label>
        <div class="option">                
            <label>
                <input type="radio" name="profyear" value="yes" required> Yes
            </label>
            <label>
                <input type="radio" name="profyear" value="no"> No
            </label>
        </div>
    </div>
    </div>
    <div style="overflow:auto;">
        <div style="float:right;">
          <button class="form-button" type="button" id="prevBtn" onclick="nextPrev(-1)">Previous</button>
          <button class="form-button" type="button" id="nextBtn" onclick="nextPrev(1)">Next</button>
        </div>
      </div>
    <!-- Circles which indicates the steps of the form: -->
<div class="progress-circle">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
</div>  
    </form>
</body>
</html>