<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Smart Migrate">
    <meta name="keywords" content="Smart migrate, migration to Australia, PR Pathway">
    <meta name="author" content="Adrian Soe Myint">
    <!--accessibility setting-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/css/images/logo.png') }}">
    <title>EasiResi</title>
</head>

<body>
    <header>

    </header>

    <div class="background-container">
        <img src="../static/css/images/background.jpg" alt="Background Image" id="background-image">
        <p id="brand1">EZ <span class="logo-color">Resi</span></p>
    
        <div class="form-container">
            <form method="post" action="/login" id="login_form">
                <fieldset>
                    <legend>Sign in</legend>
    
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" required>
                    </div>
    
                    <div class="form-group">
                        <label for="password">Password:</label>
                        <input type="password" id="password" name="password" maxlength="25" required>
                    </div>
    
                    <button type="submit" value="signin">Sign In</button>
    
                    <p class="signup-message">Don't have an account yet? <a href="/signup">Create an account</a></p>
                </fieldset>
            </form>
        </div>
    </div>
    
    

    <footer>
        &#169 2024-2025 EasiResi All Rights Reserved
    </footer>
</body>
</html>
