<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="description" content="Smart Migrate">
    <meta name="keywords" content="Smart migrate, migration to Australia, PR Pathway">
    <meta name="author" content="Adrian Soe Myint">
    <!--accessibility setting-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--stylesheet-->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/css/images/logo.png') }}">
    <title>EasiResi</title>
</head>

<body>
    <header>
        <nav>
            <!--Navigation menu in header as a list to apply more styles-->
            <div class="navi_menu">
                <a class="active" href="index.html"><strong>Home</strong></a>
                <!-- <a href="product.html"><strong>Products</strong></a>
                <a href="enquire.html"><strong>Enquire</strong></a>
                <a href="about.html"><strong>About</strong></a>
                <a href="/"><strong>Enhancements</strong></a> !-->
            </div>
        </nav>
    </header>

    <div class="background-container">
        <img src="../static/css/images/background.jpg" alt="Background Image" id="background-image">
        <p id="brand1">EZ <span class="logo-color">Resi</span></p>

        <div class="form-container">
            <form method="post" action="/login" id="login_form">
                <fieldset>
                    <legend>Sign in</legend>
            
                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>
            
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" maxlength="25" required>
            
                    <button type="submit" value="signin">Sign In</button>
                </fieldset>
            </form>
        </div>
    </div>

    <footer>
        &#169 2024-2025 Shine Brite Pty Ltd All Rights Reserved
    </footer>
</body>
</html>
