<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Migrant Landing Page</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <header>
        <nav>
            <div class="navi_menu">
                <a href="{{ url_for('auth.login') }}"><strong>Home</strong></a>
                <a href="{{ url_for('migrant.recommendcourse') }}"><strong>Recommended Courses</strong></a>

            </div>
        </nav>
    </header>

    <div class="container">
        <h1>Welcome Migrant</h1>
        <p>Explore your recommended courses by clicking the link above.</p>
    </div>
</body>
</html>
