<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="form-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Business logo" class="business-logo">
        </div>
        <form method="POST" action="{{ url_for('auth.signup') }}">
            <input type="text" name="username" placeholder="Username" required class="input-field">
            <input type="text" name="Firstname" placeholder="Firstname" required class="input-field">
            <input type="text" name="Lastname" placeholder="LastName" required class="input-field">
            <input type="password" name="pwd" placeholder="Password" required class="input-field">
            <select name="acct" required class="input-field">
                <option value="Type of Acc" >Select Account Type</option>
                <option value="migrant">Student</option>
                <option value="agent">Agent</option>
                <option value="edprovider">Educational Provider</option>
                <option value="Administrator">Adminstrator</option>
            </select>
            <input type="text" name="migrant_id" placeholder="Migrant ID" required class="input-field">
            <input type="email" name="email" placeholder="Email" required class="input-field">
            <input type="date" name="dob" placeholder="Date of Birth" required class="input-field">
            <input type="text" name="qualifications" placeholder="Qualifications" required class="input-field">
            <input type="text" name="nationality" placeholder="Nationality" required class="input-field">
            <input type="text" name="experience" placeholder="Experience" required class="input-field">
            <button type="submit" class="submit-button">Register</button>
        </form>
        <p class="login-prompt">Already a user? <a href="{{ url_for('auth.login') }}">Log in here</a>.</p>
    </div>
</body>
</html>
