<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>
    <div class="form-container">
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Business logo" class="business-logo">
        </div>
        <form method="POST" action="{{ url_for('auth.signup') }}">
            <input type="email" name="email" placeholder="Email" required class="input-field">
            <input type="password" name="pwd" placeholder="Password" required class="input-field">
            <button type="submit" class="submit-button">Register</button>
        </form>
        <p class="login-prompt">Already a user? <a href="{{ url_for('auth.login') }}">Log in here</a>.</p>
    </div>
</body>
</html>
